* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.link {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

.row {
    padding-left: 50px 50px;
    border-image-width: 5px;
}

.jumbotron {
    height: 600px;
    width: 1399;
    padding-top: 15%;
    padding-left: 8%;
}

.jumbotron1 {
    height: 600px;
    width: 1260;
    background-repeat: no-repeat;
    background-image: url(img/Highlight-PC-SMB-OneNote_VP4-1260x600.avif);
    margin-left: 50px;
    padding-top: 15%;
    padding-left: 750px;
    margin-top: 60px;

}

.jumbotron1 img {
    padding-left: 20px;
    margin-right: 200px;

}

.jumbotron1 p {
    overflow-wrap: break-word;
}

.card {
    padding-top: 0px;
    margin-top: 40px;
    margin-left: 15px;

}

#card1 {
    margin-left: 35px;
    margin-right: 35px;
}

#card2 {
    margin-top: 0px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 40px;
}

.bz {
    margin-top: 60px;
}

/*---------------------------------------footer----------------*/
/*footer*/
.col_white_amrc {
    color: rgb(41, 39, 39);
}

footer {
    width: 100%;
    background-color: #f2f2f2;
    min-height: 250px;
    padding: 10px 0px 25px 0px;
    margin-top: 60px;

}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: #313030;
    padding-bottom: 0px;
    margin-bottom: 8px;
    margin-top: 0px;
}

p.text-left {
    float: left;
    margin-right: px;
    padding-left: 0px;
    padding-right: 10px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;

}

.footer_ul_amrc li a {
    color: #776161;

}

.footer_ul_amrc li a:hover {
    text-decoration: underline;
    color: black;

}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_amrc li p {
    display: table;
}

.footer_ul2_amrc li a:hover {
    text-decoration: underline;
    color: black;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: auto;

}

.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}

.social_footer_ul {
    display: table;
    margin-left: 5px;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #CCC;
    border: 1px solid #CCC;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}

li {
    display: inline-block;
    margin-right: 30px;
    list-style: none;
}

.navbar-brand {
    margin-left: 30px;
}

li.nav-item:hover {
    text-decoration: underline;
    color: black;

}

li.nav-item a {
    color: black;
}

#navbarSupportedContent {
    color: black;
}

div.col-10 {
    width: 400px;
    margin-right: -10px;
}